.form-block {
    margin-top: 20px;
    background: #fff;
    padding: 10px 20px 20px;
    box-shadow: 0 0 3px $color-border;
}

.form-block > header {
    display: block;
    font-size: 16px;
    margin: 1rem;
}
