.ember-power-select-selected-item {
  margin-left: 0;
}

.moderators-add-row-container {
  display: inline-grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1;
  align-items: center;
  justify-items: start;
  width: 100%;
  min-height: 60px;
}

.moderator-name {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;

  .ember-power-select-trigger {
    min-width: 200px;
    background-color: transparent;
  }
}

@media (max-width: 700px) {
  .moderators-add-row-container {
    display: inline-grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: start;
    width: 100%;
    min-height: 60px;
  }

  .moderator-name {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.dropdown-link {
  color: $brand-primary;
  border: none;
  background-color: transparent;
  padding: 2px 2px;
  margin: 0 3px;

  :hover {
    background-color: none;
    border-color: none;
  }
}

.open > .dropdown-link {
  box-shadow: 0 0 3px;
}

.role-dropdown {
  .dropdown-button {
    min-width: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .invite-dropdown {
    background-color: $color-white;
  }
}

.row-controls {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  justify-self: flex-end;
}

.unregistered-dropdown {
  background-color: $color-white;
  width: 275px;
}

.unregistered-form {
  padding: 10px;
}
