.breadcrumbs {
    a {
        color: #fff;
    }
}

.current-page {
    font-weight: bolder;
}

.separator {
    background: url('img/separator.png') no-repeat;
    display: inline-block;
    vertical-align: middle;
    height: 13px;
    width: 6px;
    margin: 0 5px;
}

@media screen and (max-width: $screen-small-tablet) {
    .breadcrumbs {
        font-size: 10px;
    }
}
