// Opaque toast notifications
.toast {
    opacity: 1 !important;
}

.column-offset {
    height: 120px;
}

html {
    height: 100%;
}

body > :global(.ember-view) {
    display: flex;
    flex-direction: column;
    height: 100vh;

    :global(.content) {
        flex: 1 0 auto;
    }
}

// Override styles from ember-osf and osf to match ember-preprints
.footer {
    border-bottom: 1px solid $color-border-gray-dark;
    border-top: 1px solid $color-border-gray-dark;
    color: $color-text-gray;
    flex-shrink: 0;
    margin-top: 0;
    text-shadow: 0 1px 0 $color-white;
    width: 100%;
}

.footer ul,
.footer li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.alert-maintenance {
    margin-bottom: 0;
}

:global(.osf-nav-wrapper) {
    height: $nav-wrapper-height;
}

:global(.container) {
    height: 100%;
}

:global(.unread-label) {
    background-color: $color-bg-gray-light;
    color: $color-text-gray-dark;
    padding: 2px 5px;
    border-radius: 8px;
    font-weight: bold;
}

:global(.name--skeleton) {
    width: 100%;

    > div {
        align-items: center;
        display: inline-flex;
        flex-direction: row;
        width: 100%;
    }

    :global(.ember-content-placeholders-text) {
        width: 150px;
    }

    :global(.ember-content-placeholders-text__line) {
        margin-bottom: 0;
    }
}

:global(.gravatar--skeleton) {
    width: 30px;

    :global(.ember-content-placeholders-img) {
        height: 30px;
    }
}
