.disabled {
  opacity: .4;
  pointer-events: none;
}

.unread-label {
  background-color: $color-bg-gray-light;
  color: $color-text-gray-dark;
  padding: 2px 5px;
  border-radius: 8px;
  font-weight: bold;
}
