.moderators-header {
  padding-bottom: 15px;

  .add-moderator-button {
    justify-self: flex-end;
    align-self: flex-end;
  }

  .row-header {
    font-size: 18px;
    align-self: flex-end;
  }
}

.moderators-row-container {
  display: inline-grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  width: 100%;
  min-height: 60px;
}

.moderators-row-border {
  width: 100%;
  height: 1px;
  background-color: $color-border-gray-light;
}

.no-moderators-message {
  text-align: center;
}

.moderator-dropdown-menu {
  background-color: $color-bg-default;

  button {
    display: flex;
    justify-content: space-between;
    background: transparent;
    width: 100%;
  }

  li:hover {
    background-color: $color-border-gray-light;
  }
}

.moderators-row--skeleton {
  .dropdown--skeleton {
    width: 115px;

    .ember-content-placeholders-img {
      height: 32px;
    }
  }

  .remove-icon--skeleton {
    justify-self: end;
  }
}

.name--skeleton {
  width: 100%;

  > div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .ember-content-placeholders-text {
    width: 150px;
  }

  .ember-content-placeholders-text__line {
    margin-bottom: 0;
  }

  .gravatar--skeleton {
    width: 30px;

    .ember-content-placeholders-img {
      height: 30px;
    }
  }
}
