.moderators-list-row-container {
  display: inline-grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1;
  align-items: center;
  justify-items: start;
  width: 100%;
  min-height: 60px;
}

.moderator-name {
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .moderators-list-row-container {
    display: inline-grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: start;
    width: 100%;
    min-height: 60px;
  }

  .moderator-name {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.role-dropdown {
  .dropdown-button {
    min-width: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.row-controls {
  justify-self: flex-end;

  .remove-button {
    color: $color-text-gray-dark;
  }
}
