<div class="content" local-class="vertical-align">
    <div local-class="aligner-item--top"></div>
    <div class="ball-scale ball-dark text-center">
        <div></div>
    </div>
    <div local-class="aligner-item--bottom"></div>
</div>
