{{#content-placeholders as |placeholder|}}
    <div local-class="icon--skeleton">{{placeholder.icon}}</div>
    <div local-class="submission-heading--skeleton">
        {{placeholder.heading}}
    </div>
{{/content-placeholders}}
